<h1>Doctors' directory</h1>
<div class="row justify-content-center">
  <div class="col-md-6">
    <%= render "form_search", param: :query_city, place_holder: 'Search by city' %>
      <a id="adv-options" class="adv-options"><%= fa_icon "angle-down", id: 'faarrow' %> Advanced Search options</a>
    <div id="second_search" class="hidden">
      <%= render "form_search", param: :query_name, place_holder: 'Search by name' %>
    </div>
  </div>
</div>
<ul class="list-group mt-3">
  <% @doctors.each do |doctor| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= "Dr. #{doctor.name} #{doctor.surname}: #{doctor.city}" %>
    <%= link_to "Book an appointment", new_appointment_path(doctor.id), class: 'btn btn-outline-dark' %>
  </li>
  <% end %>
</ul>

<%= paginate @doctors %>