<h1>New Appointment with DR. <%=@doctor.surname %></h1>
<div class="row justify-content-center">
  <div class="card col-md-6">
    <div class="card-body">
      <%= form_with model: @appointment do |f| %>
        <div>
          <%= f.label :date %> 
          <%= f.datetime_local_field :date, required: true %>
        </div>

        <div class="mt-3">
          <%= f.label :photo1 %> 
          <%= f.file_field :photo1, required: true %>
        </div>

        <div class="mt-3">
          <%= f.label :photo2 %> 
          <%= f.file_field :photo2, required: true %>
        </div>

        <div class="mt-3">
          <%= f.label :photo3 %> 
          <%= f.file_field :photo3, required: true %>
        </div>

        <div>
          <%= f.submit class: 'btn btn-outline-dark mt-3'%>
          <%= f.hidden_field :doctor_id, value: @doctor.id %>
        </div>
      <% end %>
    </div>
  </div>
</div>