<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#">CrisalixTechTest</a>
  <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to "Appointments", appointments_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if logged_in? && !current_user.doctor? %>
        <li class="nav-item">
          <%= link_to "Doctors", doctors_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav ms-auto">
      <% if logged_in? %>
        <li><%= link_to "Log out", logout_path, class: "nav-link", method: :delete %></li> 
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>